diffusers==0.32.2
fastapi==0.115.12
torch==2.4.1+cu124
torchvision==0.19.1+cu124
-f https://download.pytorch.org/whl/cu124
git+https://github.com/luca-medeiros/lang-segment-anything.git
matplotlib==3.10.1
numpy==2.2.4
Pillow==11.1.0
Requests==2.32.3
streamlit==1.27.2
torch==2.4.1+cu124
uvicorn==0.34.0
